* {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  padding: 0;
}
.description {
  font-size: 16px;
  color: #909090;
}
.section-title {
  color: #121212;
  font-size: 50px;
  font-weight: 700;
}
.btn {
  border-radius: 10px;
  font-size: 20px;
  background-color: #ff5959;
  color: #fff;
  border: 0;
  padding: 15px;
}
main {
  width: 1170px;
  margin: 0 auto;
}

/* banner-styles */
.banner {
  background-image: url('../images/donation7.jpg');
  height: 640px;
  background-blend-mode: multiply;
  background-color: rgba(0, 0, 0, 0.4);
  text-align: center;
  margin: auto;
}
.banner-content-center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.banner-title {
  font-weight: 700;
  font-size: 70px;
  color: #fff;
}
.banner-head-description {
  color: #fff;
  margin: 35px;
}
.banner-description {
  color: #d2d0d0;
}

/* donate today styles */
.donate-today {
  text-align: center;
}
.donate-title {
  margin-top: 150px;
}
.today-description {
  margin: 36px 0;
}
.donate-count ul {
  display: flex;
  justify-content: space-around;
  margin-bottom: 60px;
}
.donate-count ul li {
  list-style: none;
  padding: 50px 20px;
  background-color: #fafafa;
  border: 2px solid #fafafa;
  transition: 0.8s ease;
}
.donate-count ul li a {
  color: #767676;
  text-decoration: none;
  font-weight: 700;
  font-size: 40px;
  transition: 0.8s ease;
}
.donate-count ul li:hover {
  background-color: #ffeeee;
  border: 2px solid #ff5959;
  color: #ff5959;
  border-radius: 5px;
}
.donate-count ul li:hover a {
  color: #ff5959;
}
.other-amount {
  display: block;
  border: 0;
  border-bottom: 2px solid #d2d0d0;
  text-align: center;
  width: 100%;
  padding: 10px;
  color: #ff5959;
  font-weight: 700;
  font-size: 40px;
}
.other-amount:focus {
  outline: none;
}
.other-amount::placeholder {
  color: #d2d0d0;
  font-size: 30px;
}
.donate-count .btn {
  margin-top: 30px;
}
/* our donate plan styles */
.other-donate-plan {
  text-align: center;
}
.other-donate-plan .section-title {
  margin-top: 150px;
}
.our-donate-plan-details {
  margin: 34px 0;
}
.our-plan-info {
  display: flex;
  text-align: left;
  gap: 25px;
}
.our-plan-details {
  background-color: #edf5f6;
  padding: 25px;
  border-radius: 15px;
}
.our-plan-details img {
  padding: 35px 0;
}
.our-plan-details:nth-child(2) {
  background-color: #ffeeee;
}
.our-plan-details:last-child {
  background-color: #fff4d6;
}
.our-donate-description {
  padding: 30px 0;
}
/* depend on your donation styles */
.your-donation-wrapper {
  display: flex;
  margin-top: 150px;
  align-items: center;
  gap: 30px;
}
.your-donation-info {
  padding-right: 10px;
}
.your-donation-image {
  max-height: 700px;
  padding-right: 30px;
}
.your-donation-image img {
  width: 100%;
  display: block;
  border-radius: 20px;
}
.your-donation-info .donation-description {
  padding: 30px 0;
  line-height: 28px;
}
.donation-description-padding {
  padding-top: 0;
  padding-bottom: 25px;
  line-height: 28px;
}
/* need us to survive styles */
.need-survive-title {
  padding-right: 170;
}
